@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}
ul a {
  color: #000000;
  text-decoration: none;
}
ul a:hover {
  color: rgba(0, 0, 0, 0.4);
}
header button,
.left button {
  background: hsl(12, 88%, 59%);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
header button:hover,
button:hover {
  opacity: 0.4;
}
main {
  display: flex;
  margin: 7rem 10rem 2rem;
  gap: 10rem;
}
main .left {
  margin-top: 6rem;
}
main .left h1 {
  font-size: 3rem;
}
.left p {
  font-size: 1rem;
  margin: 2.4rem 0;
  opacity: 0.4;
  line-height: 1.4rem;
}
main .right #pattern {
  position: absolute;
  z-index: -10;
  top: -20%;
  right: -5%;
}

#first {
  display: flex;
  flex-direction: row;

  margin: 7rem 10rem 2rem;
}

#first .left,
#first .right {
  width: 100%;
}

#first .left h1 {
  font-size: 2.5rem;
}

#first .right ol {
  list-style: none;
}
#first .right ol .col {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem auto 1rem;
}

#first .right ol .col p {
  background: hsl(12, 88%, 59%);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  opacity: 1;
}
#first .right ol .col h5 {
  margin-top: 0.5rem;
  font-size: 1rem;
}
#first .right ol p {
  padding-left: 6.2rem;
  padding-right: 4rem;
  text-align: justify;
  opacity: 0.4;
}

#first .left img {
  z-index: -10;
  position: absolute;
  right: 70rem;
  top: 70rem;
}
